/*
 Theme Name:     Twenty Thirteen ONGala Child
 Theme URI:      https://bitbucket.org/marcenuc/twentythirteen-ongala-child
 Description:    Twenty Thirteen ONGala Child Theme
 Author:         Marcello Nuccio
 Author URI:     https://bitbucket.org/marcenuc
 Template:       twentythirteen
 Version:        0.1.0
*/

@import url("../twentythirteen/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */
body {
    font-family: sans-serif;
}
h1.site-title {
    font-weight: 400;
    letter-spacing: 1px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Georgia,"Times New Roman",Times,serif;
}
h1.entry-title {
    font-size: 24px;
}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
    font-size: inherit;
    font-family: inherit;
}
.navbar {
    border-top: 1px solid #ddd;
    border-bottom: 5px solid #2d2d2d;
    background-color: #fff;
}
.comment-respond {
    border-bottom: 1px solid #ddd;
    border-top: 5px solid #2d2d2d;
    background-color: #fff;
}
.nav-menu li a,
.nav-menu .current_page_item > a {
    font-style: normal;
}
.nav-menu .current_page_item > a {
    color: #fff;
    background-color: #2d2d2d;
}


button, input, textarea {
    border-color: #999;
}
input:focus, textarea:focus {
    border-color: #666;
}
button, input[type="submit"], input[type="button"], input[type="reset"] {
    background-image: none;
    background-color: #333;
    border-bottom-color: #222;
}
button:hover, button:focus, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus {
    background-image: none;
    background-color: #666;
    border-bottom-color: #555;
}

.site-footer {
	background-color: inherit;
}
.site-footer .sidebar-container {
    background-color: #222;
}
.form-allowed-tags {
    display: none;
}

.site-header .search-field {
    background-image: url(images/search-icon-hc.png);
}
.widget {
    background-color: rgba(223, 223, 223, 0.6);
}

.entry-content {
    text-align: justify;
}
.entry-content img {
    padding: 4px;
    border: 1px solid #ddd;
}

.sidebar-inner #lang_sel_list ul {
    border-top: none;
}


.site {
    background-color: #fefefe;
}

#lang_sel_footer {
    text-align: left;
    border: none;
}
